* {
  color: black;
  font-family: 'Noto Serif', serif;
}

body {
  margin: 0px;
}

h1 {
  font-family: 'Noto Serif', serif;
  color: #b10502;
  font-size: 60px;
  margin: 50px 0px 15px 0px;
}

h2 {
  font-size: xx-large;
  font-weight: lighter;
}

.full-page-view {
  display: flex;
  height: 100vh;
}

.main-selection-view {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 70%;
  background-image: url(assets/parchement.jpeg);
  background-size: cover;
}

/* Game Type Selection */
.game-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 210px;
  width: 260px;
  box-shadow: 5px 3px 3px black;
  border-radius: 5px;
  margin: 0px 5px 30px 5px;
}

.game-options > p > span {
  color: #9f100d;
}

.game-options:hover {
  cursor: pointer;
  background-color: #9e813889;
  box-shadow: 2px 2px black;
  transform: translateY(2px);
}

.game-options > p {
  align-self: center;
  margin: 2px;
}

.game-options,
.wins-sections {
  background-image: url(assets/sides.png);
  background-size: cover;
  outline: 2px solid #b10602;
  outline-offset: -4px;
}

/* Player sides */
.user-title {
  font-size: 30px;
  margin: 5px;
  color: #b10602;
}

.wins-sections {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 15%;
}

.tokens {
  height: 140px;
  width: 140px;
  box-shadow: 5px 3px 3px black;
  border-radius: 5px;
  margin: 30px 5px 5px 5px;
}

.wins {
  font-size: x-large;
}

/* Fighter Selection */
.game-modes {
  display: flex;
  height: 425px;
  width: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.game-modes > img {
  height: 200px;
  width: 200px;
  box-shadow: 5px 3px 3px black;
  border-radius: 5px;
  margin: 5px;
}

.game-modes > img:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.291);
  box-shadow: 2px 2px black;
  transform: translateY(2px);
}

/* Change Game Button */
button {
  height: 50px;
  width: 180px;
  border-radius: 5px;
  margin-top: 150px;
  font-size: medium;
  color: black;
  background-color: #bc720f;
}

button:hover {
  cursor: pointer;
  background-color: #8f560c;
}

button:active {
  background-color: #b10602;
  box-shadow: 2px 2px black;
  transform: translateY(2px);
}

.hidden {
  display: none;
}

.not-clickable {
  pointer-events: none;
}